.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;

  .content-container {
    max-width: 50%;
    padding: 20px;
    overflow-y: auto;
    background-color: transparent;
  }

  header {
    background-color: transparent;
    color: #fff;
    padding: 20px;

    .subject-selector {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin-bottom: 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        transition: font-weight 0.5s ease, margin-left 0.5s ease;

        &:hover {
          color: #ccc;
        }

        &.active {
          font-weight: bold;
          margin-left: 20px;

        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app-container {
    header {
      width: 30%;
    }
  }
}

@media (max-width: 576px) {
  .app-container {
    flex-direction: column;

    header {
      width: 100%;
      min-width: unset;
    }

    .content-container {
      width: 100%;
    }
  }
}