@import './Variables.scss';

.content {
  max-height: 75vh;
  overflow-y: auto; /* Barra de rolagem vertical */
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para um visual agradável */
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cria colunas flexíveis */
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .project-item {
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      padding: 10px;
    
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .project-card {
        padding: 20px;
        text-align: center;
      
        h3 {
          margin: 0;
          font-size: 1.2rem;
          color: #333;
        }
      
        p {
          margin-top: 10px;
          font-size: 0.9rem;
          color: #666;
        }
      }
    }
  }
}