@import "./Variables.scss";

.content {
  width: 50%;
  max-height: 85vh;
  overflow-y: auto;
  padding: 20px;
  margin: 20px;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .project-list {
    width: 100%;
    display: grid;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .project-item {
      background-color: #ffffff;
      border: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      padding: 10px;
      overflow: hidden;
      height: auto;
      min-height: 220px;
      transition: min-height 1s ease;
      flex-grow: 1;

      &.expanded {
        min-height: auto;
        color: black;
        transition: min-height 1s ease;
      }

      &:hover {
        transform: translateX(-20px);
        transition: transform 0.5s ease;
      }

      .project-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;

        .project-image {
          width: 400px;
          height: 200px;
          margin-right: 20px;
          object-fit: cover;
        }

        .project-details {
          text-align: left;

          h3 {
            margin: 0;
            color: #333;
          }

          p {
            margin-top: 10px;
            color: #666;
          }
        }

        .additional-info {
          border-top: #333 1px solid;
          grid-column: 1/3;
          padding: 20px;
          margin-top: 20px;
        }
      }
    }
  }
}