@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.frame {
  width: 100vw;              
  height: 100vh;             
  background-color: $color-dark-gray;
  display: grid;             
  grid-template-columns: auto 1fr auto; /* Define três colunas: auto, 1fr e auto */
  grid-template-rows: auto 1fr auto;    /* Define três linhas: auto, 1fr e auto */
  box-sizing: border-box;   
}

.header {
  grid-column: 2; /* Ocupa todas as colunas */
  grid-row: 1;        /* Está na primeira linha */
}

.left-sidebar {
  grid-column: 1;
  grid-row: 1 / 4;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: $color-white;
  background-color: $color-dark-gray;
}

.main-content {
  grid-column: 2;     /* Segunda coluna */
  grid-row: 2;        /* Segunda linha */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-gray;
  // padding: $padding-medium;
  box-sizing: border-box;
}

.right-sidebar {
  grid-column: 3;     /* Terceira coluna */
  grid-row: 1 / 4;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: $color-white;
  background-color: $color-dark-gray;
}

.footer {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: $color-white;
  background-color: $color-dark-gray;
}
