@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.frame {
  width: 100vw;              
  height: 100vh;             
  display: grid;             
  grid-template-columns: auto 1fr auto; /* Define três colunas: auto, 1fr e auto */
  grid-template-rows: auto 1fr auto;    /* Define três linhas: auto, 1fr e auto */
  box-sizing: border-box;   
}

.top-bar {
  grid-column: 2; /* Ocupa todas as colunas */
  grid-row: 1;        /* Está na primeira linha */
}

.left-sidebar {
  grid-column: 1;
  grid-row: 1 / 4;
}

.main-content {
  grid-column: 2;     /* Segunda coluna */
  grid-row: 2;        /* Segunda linha */
}

.right-sidebar {
  grid-column: 3;     /* Terceira coluna */
  grid-row: 1 / 4;
}

.footer {
  grid-column: 2;
  grid-row: 3;
}
