/* Reset básico de margens, padding e box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo estilos padrão para o HTML e o body */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px; /* Definindo um tamanho de fonte global */
  font-weight: 400;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Zerar listas */
ul, ol {
  list-style: none;
}

/* Remover underline e ajustar links */
a {
  text-decoration: none; /* Remove o underline padrão dos links */
  font-weight: 500;
  color: #646cff;
  &:hover {
    color: #535bf2;
  }
}

/* Remover espaçamentos e sublinhados de elementos de formulário */
input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  appearance: none;
}

/* Definição padrão para o corpo */
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;  /* Bloquear seleção de texto no corpo */
  overflow: hidden;   /* Prevenir zoom */
}

/* Definir estilo base para títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  color: inherit;
}

/* Definição padrão para o H1 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Definição padrão para botões */
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

/* Media Query para tema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
