@import "./Variables.scss"; // Caso você tenha um arquivo de variáveis para as cores

.header {
  // background-color: transparent; /* Variável de cor de fundo */
  transition: background-color 0.5s ease, color 0.5s ease;
  color: var(--text-color); /* Variável de cor do texto */
  margin: 20px;
  padding: 20px;
  text-align: left;

  .subject-selector {
    ul {
      list-style: none; /* Remover marcadores de lista */
      padding: 0;
      margin: 0;
      gap: 20px; /* Espaçamento entre os itens */

      li {
        margin-bottom: 5px;
        cursor: pointer; /* Faz com que o cursor de ponteiro apareça ao passar sobre os itens */
        font-size: 1rem;
        transition: color 0.3s ease, margin-left 0.3s ease; /* Transição suave de cor e margem */

        &:hover {
          color: var(--primary-color); /* Alterar a cor ao passar o mouse */
        }

        &.active {
          margin-left: 20px; /* Pequeno deslocamento ao ficar ativo */
          font-weight: bold; /* Deixa o texto em negrito para o item ativo */
          color: var(--primary-color); /* Pode mudar a cor do item ativo */
          transition: color 0.3s ease, margin-left 0.3s ease; /* Transição suave para a cor e margem */
        }
      }
    }
  }
}
