@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.header {
    background-color: #333;
    margin: 20px;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  