@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color); /* Variável de cor de fundo */
  color: var(--text-color); /* Variável de cor do texto */
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 0.5px var(--text-color); /* Simula uma borda fina com sombra */
  z-index: 10;
  transition: background-color 0.5s ease, color 0.5s ease;
}
