@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light-gray;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 0.5px #fff; /* Simula uma borda fina com sombra */
  z-index: 10;
}
