@import './Variables.scss'; // Caso você tenha um arquivo de variáveis para as cores

.top-bar {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: $color-white;
    background-color: $color-dark-gray;
  }