// Cores
$color-white: #ffffff;
$color-black: #101010;
$color-dark-gray: #111111;
$color-light-gray: #3a3a3a;

// Margens e Padding
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 40px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

// Tipografia (Opcional)
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 2rem;
