.curriculum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  width: 100%;

  .resume-content {
    color: white;
    background-color: transparent;
    padding: 20px;

    .section-aligned {
      display: flex;
      align-items: center;
      /* Centraliza verticalmente o h2 */
      justify-content: space-between;
      /* Garante que o espaço seja igual entre h2 e ul */
      gap: 20px;
      /* Espaço entre o h2 e o ul */
      width: 100%;

      h2 {
        color: aqua;
        // flex-shrink: 0;
        /* Impede o h2 de encolher */
        // flex-grow: 1;
        /* Garante que o h2 ocupe o mesmo espaço disponível */
        text-align: right;
        /* Alinha o h2 à direita */
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        /* Faz com que o ul use o restante do espaço */

        li {
          margin-bottom: 15px;

          strong {
            font-size: 1.2rem;
          }

          p {
            margin: 5px 0;
          }

          ul {
            margin-left: 20px;
            list-style-type: disc;
          }
        }
      }
    }
  }
}