.curriculum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  width: 100%;

  .resume-content {
    color: white;
    background-color: transparent;
    padding: 20px;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #007acc;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 15px;

        strong {
          font-size: 1.2rem;
        }

        p {
          margin: 5px 0;
        }

        ul {
          margin-left: 20px;
          list-style-type: disc;
        }
      }
    }
  }
}