.projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  max-width: 100%;
  border-bottom: #d3d3d3 1px solid;

  .project-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .project-title {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
  }

  .project-description {
    font-size: 1rem;
    color: #d3d3d3;
    text-align: center;
    max-width: 800px;
    padding-bottom: 15px;
    border-bottom: #d3d3d3 1px solid;
  }

  .project-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 15px;
    font-size: 1rem;
    color: #d3d3d3;
    justify-items: center;

    .detail-item {
      text-align: center;
    }

    strong {
      color: #fff;
    }
  }
}